{    
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "include": [
        "src/js/*.js"
    ],
    "require": [
        "esm"
    ],
    "check-coverage": false    
}
